---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props

const { title, author, description, tags, coverImage } = frontmatter
---

<Layout
  title={`${title} | André Alves`}
  description={description}
  author={author}
  keywords={tags.toString()}
  ogImage={coverImage}
>
  <main class="mt-10">
    <a href="/blog" class="text-neutral-400 hover:text-neutral-300"
      >← Back to blog</a
    >
    <h1
      class="mt-1 text-2xl sm:text-4xl mb-8 font-bold text-center text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-500 to-purple-500"
    >
      {title}
    </h1>
    {
      coverImage && (
        <img
          src={coverImage.src}
          alt={coverImage.src}
          class="mx-auto my-10 w-full max-w-full rounded-lg"
          loading="lazy"
          decoding="async"
        />
      )
    }
    <article class="max-w-fit prose prose-invert line-numbers">
      <slot />
    </article>
  </main>
</Layout>
<style is:inline>
  code {
    counter-reset: step;
    counter-increment: step calc(var(--start, 1) - 1);
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
  }
</style>
