---
import Layout from './Layout.astro'

const { frontmatter } = Astro.props

const { title, author, description, pubDate, tags, coverImage } = frontmatter

const dateObj = new Date(pubDate)

const fullPubDate = dateObj.toLocaleDateString('en', {
  dateStyle: 'full',
})
---

<Layout
  title={`${title} | André Alves`}
  description={description}
  author={author}
  pubDate={dateObj}
  keywords={tags.toString()}
  ogImage={coverImage}
>
  <main class="mt-10">
    <header class="mb-8">
      <div class="flex justify-between mb-4">
        <a href="/blog" class="text-neutral-400 hover:text-neutral-300"
          >← Back to blog</a
        >
      </div>

      <h1
        class="mb-4 text-3xl sm:text-4xl font-bold text-center text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-blue-500 to-purple-500"
      >
        {title}
      </h1>
      <div class="flex justify-between mb-4">
        <span class="text-neutral-400"
          >Author
          <a
            target="_blank"
            rel="nofollow noopener noreferrer"
            aria-label="André Alves's Twitter page"
            href="https://twitter.com/andrealvesdev"
            class="text-neutral-300 hover:text-neutral-200">@andrealvesdev</a
          >
        </span>
        <p class="text-neutral-400">{fullPubDate}</p>
      </div>
      {
        coverImage && (
          <img
            src={coverImage.src}
            alt={coverImage.src}
            class="mx-auto w-full max-w-full rounded-lg"
            loading="lazy"
            decoding="async"
          />
        )
      }
    </header>
    <article class="max-w-fit prose prose-invert line-numbers">
      <slot />
    </article>
  </main>
</Layout>
<style is:inline>
  code {
    counter-reset: step;
    counter-increment: step calc(var(--start, 1) - 1);
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
  }
</style>
